<form (ngSubmit)="onSubmit($event)">
    <label>
        Click:
    </label>
    <br />
    <input type="checkbox" id="click"/>
    <br />
    <label>
        Selector:
        <br />
        <textarea></textarea>
    </label>
    <br />
    <label>
        Navigation:
    </label>
    <br />
    <input type="checkbox" id="navigation"/>
    <br />
    <label>
        URL Adress:
        <br />
        <textarea></textarea>
    </label>
    <br />
    <input type="submit" value="Submit" />
</form>