<main class="main-content bgc-grey-100">
<div id="mainContent">
    <div class="masonry-item w-100">
    <div class="row gap-20">
        <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
                <div class="layer w-100 mB-10">
                <h6 class="lh-1">Total Tests</h6>
                </div>
                <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                    <div class="peer peer-greed">
                        <span id="sparklinedash">
                            13
                        </span>
                    </div>
                    <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">100%</span></div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
                <div class="layer w-100 mB-10">
                <h6 class="lh-1">Total Sucessfull Tests</h6>
                </div>
                <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                    <div class="peer peer-greed">
                        <span id="sparklinedash2">
                            8
                        </span>
                    </div>
                    <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">61.53%</span></div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
                <div class="layer w-100 mB-10">
                <h6 class="lh-1">Total failed Tests</h6>
                </div>
                <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                    <div class="peer peer-greed">
                        <span id="sparklinedash3">
                            5
                        </span>
                    </div>
                    <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">38.46%</span></div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
                <div class="layer w-100 mB-10">
                <h6 class="lh-1">Total Pending Tests</h6>
                </div>
                <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                    <div class="peer peer-greed">
                        <span id="sparklinedash4">
                            0
                        </span>
                    </div>
                    <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-yellow-50 c-yellow-500">0%</span></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
     <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
</div>
</main>