/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main {
  max-width: unset !important;
}

.row {
  justify-content: center;
}


div.form-group,
#test-params,
#test-input {
  display: grid;
  grid-row-gap: 15px;
}

.label-default {
  background-color: #777
}

.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #5e5e5e
}

.label {
  border: 1px solid #000
}

label {
  display: inline;
  padding: 5px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em
}

a.label:focus,
a.label:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.label:empty {
  display: none
}

.btn .label {
  position: relative;
  top: -1px
}

.label-default {
  color: #333333;
  padding: 10px;
  width: fit-content;
  background-color: #f8f9fa;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #5e5e5e
}

.label-primary {
  background-color: #337ab7
}

.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #286090
}

.label-success {
  background-color: #5cb85c
}

.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #449d44
}

.label-info {
  background-color: #5bc0de
}

.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #31b0d5
}

.label-warning {
  background-color: #f0ad4e
}

.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #ec971f
}

.label-danger {
  background-color: #d9534f
}

.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #c9302c
}

.btn.btn-success {
  width: fit-content;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 600;
}

#buttons {
  margin-top: 10px;
  display: flex;
}

div#buttons>button {
  margin-right: 10px;
}

form {
  display: grid;
  grid-row-gap: 10px;
}

form+button {
  margin-top: 10px;
}

select#tests {
  width: fit-content;
}

th:empty {
  display: none;
}

th {
  background-color: #37474f !important;
  color: #eee;
}

td {
  border: 1px solid #dee2e6;

}

td:last-child {
  border-right: 2px solid #dee2e6;
}

div.fa.fa-times-circle.text-danger,
div.fa.fa-check-circle.text-success {
  font-size: 22px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.id {
  cursor: pointer;
}

.id:hover {
  color: #7b68ee;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 99998;
}


.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.test-full-details {
  width: calc(100vw - 50px);
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 40px 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.test-full-details .close {
  position: absolute;
  top: 0px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover,
.test-full-details .close:hover {
  color: #06D85F;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.table thead th {
  vertical-align: middle;
}

.multiple-tests-container {
  display: grid;
  row-gap: 15px;
}

app-editor~app-editor input#multipleTests {
  display: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.login-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
}

.checkbox.mb-3>label {
  color: black;
}

.form-signin>img {
  margin: auto;
}

#tests-data {
  display: table;
  table-layout: fixed;
  word-break: break-word;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.login nav.navbar,
body.login nav#sidebarMenu {
  display: none !important;
}

.test-header {
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  overflow: visible;
  border-top: 1px solid #dedede;
  min-height: 80px;
}

.test-status {
  margin: 0 30px 0 0;
  text-align: center;
  transition: .1s;
  background: 0 0;
  border: 1px solid currentColor;
}

.user-name {
  margin: 0 20px 0 0;
  color: #343434;
  font-family: "Proxima Nova",
    arial,
    serif;
  font-size: 14px;
}

.test-name {
  top: 0;
  padding: 10px 0;
  z-index: 100;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff 10px, #fff);
  display: flex;
  position: relative;
  resize: none;
  width: calc(100% - 20px);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .1s;
  overflow: hidden;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #343434;
  background: 0 0;
  border: none;
  flex-grow: 1;
  resize: none;
  overflow: visible;
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.right-column {
  width: 55%;
  border-right: 1px solid #dedede;
}

.comment-column {
  background: #fbfbfb;
  border-radius: 0 0 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 45%;
}

.date-duration-container {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  overflow: visible;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  min-height: 80px;
}

.date,
.duration {
  margin: 0 0 3px;
  font: 500 10px "Gotham Pro",
    "Proxima Nova",
    arial,
    serif;
  color: rgba(119, 119, 119, .5);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.tests-params-title {
  font-weight: 600;
}

.test-specs {
  display: grid;
  max-height: 240px;
}

.test-details {
  display: grid;
  grid-template-rows: 60px 300px;
  padding-left: 20px;
}

.title {
  font: 300 20px "Proxima Nova",
    arial,
    serif;
}

.Success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  width: fit-content;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 600;
  padding: 5px;
  border-radius: 15px;
}

.Failed {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  width: fit-content;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 600;
  padding: 5px;
  border-radius: 15px;
}

.report {
  margin-right: 20px;
  max-height: 105px;
  overflow-y: auto;
}


.comment-body {
  flex-direction: column;
  overflow: hidden;
  will-change: transform;
  height: 705px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box !important;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  display: flex;

}

.comment-type {
  padding: 5px 0 0 20px;
  font-style: normal;
  font: 14px "Gotham Pro",
    "Proxima Nova",
    arial,
    serif;
  color: rgba(52, 52, 52, .5);
  min-height: 50px;
  max-height: 300px;
  width: 100%;
  background: #fff;
  padding: 10px 10px;
  border-color: white;
  border-width: unset;
  border-style: hidden;
}

.test-header-top {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #eff0f3;
}


.comment-box {
  height: fit-content;
}

.comment-box:focus {
  color: #000;
  height: 80px;
}

div.ql-toolbar.ql-snow {
  display: none;
}

.ql-container {
  border: none !important;
}

.comment-box form {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .08), 0 10px 25px rgba(0, 0, 0, .05);
}

.comment-body>.comment {
  cursor: default;
  --theme-main-color: #7b68ee;
  --theme-main-color-dark: #5b43ea;
  --theme-main-color-light: #dfdbfb;
  --theme-main-header-color: #7c4dff;
  --global-font-support: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  --global-second-font-support: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  box-sizing: inherit;
  color: #343434;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-radius: 8px;
  position: relative;
  min-width: 0;
  background: #fff;
  border: 1px solid #dedede;
  font: 500 13px "Gotham Pro",
    "Proxima Nova",
    arial,
    serif;
  margin-bottom: 20px;
}

.comment-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 12px 0;
  border-radius: 10px 10px 0 0;
}

.comment-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  flex-grow: 1;
  padding: 10px 12px 15px;
  font: 400 14px/20px "Gotham Pro",
    "Proxima Nova",
    arial,
    serif;
  color: rgba(52, 52, 52, .8);
}


:target {
  border-radius: 3px;
  animation: highlight 1000ms ease-out;
}

@keyframes highlight {
  0% {
    background-color: red;
  }

  100% {
    background-color: white;
  }
}

.comment-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 12px 0;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
}

.comment-header>.comment-user {
  cursor: default;
  --theme-main-color: #7b68ee;
  --theme-main-color-dark: #5b43ea;
  --theme-main-color-light: #dfdbfb;
  --theme-main-header-color: #7c4dff;
  --global-font-support: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  --global-second-font-support: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 13px;
  font-family: var(--global-font-support);
  color: #858585;
}

.comment-header>.comment-date {
  cursor: default;
  --theme-main-color: #7b68ee;
  --theme-main-color-dark: #5b43ea;
  --theme-main-color-light: #dfdbfb;
  --theme-main-header-color: #7c4dff;
  --global-font-support: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  --global-second-font-support: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  box-sizing: inherit;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 400 11px "Gotham Pro",
    "Proxima Nova",
    arial,
    serif;
  margin: 0 0 0 10px;
  color: #858585;
}

.posted {
  opacity: 1;

}

.in-progress {
  transition: all 0.2s ease-in-out;
  animation-name: popin;
  animation-duration: 0.3s;
  animation-timing-function: easeout;
}


@keyframes popin {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0.4;
    animation-timing-function: easeout;
  }

  100% {
    opacity: 1;
  }
}

.comment-box>form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.ql-editor {
  height: fit-content;
}

.comment-user {
  color: #7b68ee;
}
